[user]
	name = Bryce Kellogg

[push]
    default = simple

[core]
    excludesfile = ~/.dotfiles/.gitignore
    editor = nvim -u ~/.dotfiles/init.vim
    pager  = nvim -u ~/.dotfiles/pager.vim -R -

[color]
	pager = no

[merge]
    tool = vimdiff
[mergetool]
    prompt = false
    trustExitCode = true
[mergetool "vimdiff"]
    cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'

[diff]
    tool = vimdiff
[difftool]
    prompt = false
    trustExitCode = true
[difftool "vimdiff"]
    cmd = nvim -d $LOCAL $REMOTE
