[user]
	name = Bryce Kellogg
	signingkey = 2DD9A2294088D180

[push]
    default = simple

[core]
    excludesfile = ~/.dotfiles/.gitignore
    editor = nvim -u ~/.dotfiles/init.vim

[merge]
    tool = vimdiff
[mergetool]
    prompt = false
    trustExitCode = true
[mergetool "vimdiff"]
    cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'

[diff]
    tool = vimdiff
[difftool]
    prompt = false
    trustExitCode = true
[difftool "vimdiff"]
    cmd = nvim -d $LOCAL $REMOTE
